<div class="container mt-2">
  <form novalidate [formGroup]="myForm" (ngSubmit)="onSave(myForm)">
    <div class="form-group">
      <label for="txtName">Name</label>
      <input
        type="email"
        class="form-control"
        id="txtName"
        placeholder="Enter Name"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="txtEmail">Email address</label>
      <input
        type="email"
        class="form-control"
        id="txtEmail"
        placeholder="Enter email"
        formControlName="email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="txtPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="txtPassword"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{ myForm.value | json }}
